.hero {
  position: relative;
}

.heroInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9.5rem;
  padding-bottom: 6rem;
}

.services {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 9.5rem;
  padding-bottom: 6rem;
}

.servicesInner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  margin-top: -5.5rem;
  padding-bottom: var(--space-sm);
}
.about {
  padding-top: 9.5rem;
  padding-bottom: 6rem;
}
